{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-undef": "off",
    "vue/multi-word-component-names": "off",
    "vue/no-multiple-template-root": "off",
    "max-len": ["error", 120, 2, {
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": false,
      "ignoreTemplateLiterals": false
    }],
    "vue/max-attributes-per-line": "off"
  }
}
