@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 bg-white font-sans text-zinc-900 antialiased;
  }

  button,
  input,
  select,
  textarea {
    @apply font-sans;
  }
}
